@model LiftMeUp.Models.Lift

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lift</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Station:</label>
                <select asp-for="stationId" class="form-control" asp-items="@((IEnumerable<SelectListItem>)ViewData["Stations"])"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isWorking" /> @Html.DisplayNameFor(model => model.isWorking)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isDeleted" /> @Html.DisplayNameFor(model => model.isDeleted)
                </label>
            </div>
            <div class="form-group">
                <form asp-action="create" asp-controller="Meldings">

                <input type="submit" value="Create" class="btn btn-primary" />
                </form>

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
